.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #242424;
  color: hotpink;
  border-radius: 8px;
  border: none;
}
.pad-letter {
  font-family: 'Cascadia Code', Menlo, Consolas, monospace;
  font-size: 24px;
}
