html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: #171117;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#drum-machine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 32px auto;
  /* background-color: aqua; */
}
.header h1,
p {
  color: white;
  margin: 0;
}

#display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
}
#display p {
  margin: 0;
  font-family: 'Cascadia Code', Menlo, Consolas, monospace;
}
.display-off {
  background-color: #242424 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-pad-wrapper {
  display: grid;
  width: 320px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px auto;
  /* background-color: palevioletred; */
}

.config-pad-wrapper {
  display: grid;
  width: 320px;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: aqua; */
}
.option-button {
  display: flex;
  justify-content: center;
  /* background-color: cornflowerblue; */
}

.footer {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer a {
  margin: 0 5px;
}
.icon {
  fill: #c9c9c9;
  width: 24px;
  height: 24px;
}
.icon:hover {
  fill: hotpink;
}
