.button {
  position: relative;
  width: 100px;
  height: 36px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.button .switch:before {
  content: 'ON';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-weight: bold;
  line-height: 36px;
  font-family: 'Cascadia Code', Menlo, Consolas, monospace;
  text-align: center;
  background-color: blueviolet;
  color: #ffffff;
  transition: 0.3s ease-in;
}

.button .checkbox:checked + .switch:before {
  background-color: #222222;
  content: 'OFF';
}
